*{
	font-family:New Times Roman;
	
}
header {
	background-image: url('../mh3.jpg');
	background-color: green;
	padding: 5px;
  	text-align: center;
  	font-size: 35px;
  	color: white;
  	font-family:Arial,Verdana,Helvetica ;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: lime;
	background-color: black;
}
a:active{
	color:yellow ;
}
a:visited{
	colour:black;
}
.mainNav ul{
  			list-style-type: none;
  			margin: 0;
  			padding: 0;
  			overflow: hidden;
  			background-color: forestgreen;

			}

.mainNav li {
	float:right;
}
.mainNav li a {
		display: block;
  		text-align: center;
  		padding: 14px 16px;
}
.wrapper{
	display:flex;
	position: relative;
}
.wrapper .sideNav {
	position: fixed;
	width:200px;
	height: auto;
	background-color: forestgreen;
	padding: 5px;
	overflow: auto;
}
.wrapper .sideNav li{
	list-style-type:none;
	padding:0;
}
.wrapper .sideNav ul li{
	padding:5px;
	border-bottom:1px solid rgba(0,0,0,0.05);
	border-top:1px solid rgba(225,225,225,0.05); 
}
.wrapper .sideNav ul li a{
	display: block;
  	padding: 8px 16px;
  	text-decoration: none;
}
.wrapper .sideNav ul li a .fa{
	width: 25px;
}
.wrapper .text{
	display:flex;
	position: relative;
	justify-content:space-between;
	align-items:center;
	margin-left:15%;padding:1px 16px;height:500px; 
	margin-top: 20px;
}
section{
	display:block;
	position: relative;
	justify-content:space-between;
	align-items: center;
	margin-left:5%;padding:1px 16px;height:500px; 
	margin-top: 20px;
	
}
footer{
	background-color: ghostwhite;
	text-align: center;
}
